* {
    padding: 0;
    margin: 0;
}

#header {
    width: 920px;
    background-color: #000;
    color: #fff;
    padding: 20px;
    margin: 0 auto;
    background-image:;
}

#content {
    width: 920px;
    padding: 20px;
    margin: 20px auto;
}

#footer {
    width: 920px;
    padding: 20px;
    margin: 20px auto;
    background-color: #000;
}
